body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
    padding-bottom: 100px;
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-container {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 0 250px;
    padding-bottom: 100px;
    background-color: #1f2937;
    gap: 20px
}

.hero-text, .place {
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
}


button {
    padding: 8px 24px;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 12px;
}


.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.place {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: grey;
    margin: 0;
    padding: 0;
}

.info-text {
    text-align: center;
    padding: 30px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info {
    width: 100px;
    height: 100px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 100px;

}

.border {
    width: 100px;
    height: 100px;
    border: 3px;
    border-color: blue;
    border-style: solid;
    border-radius: 10%;
}

.border-text {
    max-width: 100px;
}
.btext {
    text-align: center;
    padding-top: 20px;
}

.quote-container {
    display: flex;
    background-color: #e5e7eb;

}

.quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: ence;
    align-items: flex-end;
    padding: 100px 300px;
}


.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
    color: #1f2937;
    margin: 0;
}
.author {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    padding-right: 50px;
}

.container-four {
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    margin: 100px 350px;
    border-radius: 12px;
}
   

.call {
    display: flex;
    flex-direction: column;
}

.button-two {
    margin: 30px;
}

h4 {
    margin: 0;
    margin-top: 30px;
}

.p {
    margin-top: 5px;
    margin-bottom: 0;
}

.p, h4 {
    color: #e5e7eb;
}


.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1f2937;
    color: #e5e7eb;
}